# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env

# Editor directories
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Node / Frontend
node_modules/
dist/
.vercel
npm-debug.log*
